@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient-1: #cd55b3;
  --gradient-2: #5622af;
}

body {
  color: white;
  background: linear-gradient(to bottom, #cd55b3, #5622af);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* if input dont have text hide place holder, if theres text show placeholder */

.label {
  position: absolute;
  top: 10px;
  left: 8px;
  pointer-events: none;
}

.form-input:focus + label {
  top: -22px;
  left: 0;
  font-size: 14px;
}

.form-input:focus::placeholder {
  color: white;
}

.form-input:not(focus)::placeholder {
  color: transparent;
}

.form-input:not(:placeholder-shown) + label {
  top: -22px;
  left: 0;
  font-size: 14px;
}
